API_ID=5642193
API_HASH=c28fc9ac88530587236175da89184d75
BOT_TOKEN=6088570842:AAEP-Stzkhzj53aijcDOeDbhs-hZo9qjeLU
LOG_GROUP_ID=-1001857376981
MONGO_DB_URI=mongodb+srv://hnyx:wywyw2@cluster0.9dxlslv.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=Resso
OWNER_ID=1912969717
STRING_SESSION=BQBt-BQB-gn3AbrLBwgGnigCF83abYNvfY3TaePlSn1ZBs99wF0tOKd1nF4H7z285lnzVQMFPtYqDN6vsAKPlyP516rgI2dcByHX2yyZvUXXuXV_jI6UFcXL2lGjMR6ElTEF0GhlSI_bIbkz8AfXf_v0_0xYjMEfgkQ8jmz7H-JmF4-Pxl5ibvVrFNQ7CLpY-FVo4E5agT3GIJHdDEQMRpevuHDrnds4Fe2akfnWzT-9zU1wd0GGRMJKFjnFvkTxAmD_FEcE9klSf1_j1ZbPayiA9yxcof6MV4UeiacjMSNx8EW3aslgMzIkh7Y_DW42VCVqfoytQtbNJoCraLja5y_i4ESmRAAAAAWpvsoYA
